<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Edicasoft</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/app.min.css">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
</head>

<body>

  <div class="wrapper">

    <!-- HERO -->
    <div class="hero">

      <picture class="hero__img cover-img">
        <source type="image/webp" media="(min-width: 1200px) and (max-width: 1920px)" srcset="./images/dest/hero-lg.webp">
        <source media="(min-width: 1200px) and (max-width: 192px)" srcset="./images/dest/hero-lg.png">
    
        <source type="image/webp" media="(min-width: 768px) and (max-width: 1199px)" srcset="./images/dest/hero-md.webp">
        <source media="(min-width: 768px) and (max-width: 1199px)" srcset="./images/dest/hero-md.jpg">
    
        <source type="image/webp" media="(max-width: 767px)" srcset="./images/dest/hero.webp">
        <img class="cover-img__image" media="(max-width: 767px)" src="./images/dest/hero.jpg">
      </picture>

      <div class="container container__lg">
        <div class="hero__inner">

          <div class="hero__left">
            <div class="hero__left__inner">
              <p class="hero__subtitle">GET STARTED WITHIN 2 MINUTES</p>
              <h1 class="hero__title">Learn How To Bake In
                5 Easy Steps</h1>
              <p class="hero__descr">No doubt, you need more one pot dinners in your life like this easy 
                Bosnian-style chicken and rice. This recipe is made all over the world with countless variations on the theme.</p>
            </div>
          </div>

          <div class="hero__center">
            <form id="form" class="hero__form" @submit.prevent="handleSubmit" v-cloak>
              <div class="form__group">
                <input class="form__text" type="text" placeholder="Your Name" v-model="name">
                <span class="form__message" v-if="errorName">{{errorNameMessage}}</span> 
              </div>
              <div class="form__group">
                <input class="form__text" type="text" placeholder="Your Email" v-model="email">
                <span class="form__message" v-if="errorEmail">{{errorEmailMessage}}</span> 
              </div>
              <div class="form__group">
                <input class="form__text" type="text" placeholder="0964086314"  v-model="phone">
                <span class="form__message" v-if="errorPhone">{{errorPhoneMessage}}</span> 
              </div>
              <div class="form__group">
                <button class="btn btn__block">Download eBook Now</button>
              </div>
              <div class="form__footer">* We don’t share your personal info with anyone. 
                Check out our Policy for more information.</div>
            </form>
          </div>
        </div>
      </div>

    </div>  
    <!-- HERO END -->

    <!-- ADVICE -->
    <section class="advice" aria-label="advice section">
      <div class="container">
        <div class="advice__inner">

          <div class="advice__item">
            <picture class="advice__img cover-img">
              <source type="image/webp" media="(min-width: 1200px) and (max-width: 1920px)" srcset="./images/dest/advice-1-lg.webp">
              <source media="(min-width: 1200px) and (max-width: 1920px)" srcset="./images/dest/advice-1-lg.png">
          
              <source type="image/webp" media="(min-width: 768px) and (max-width: 1199px)" srcset="./images/dest/advice-1-md.webp">
              <source media="(min-width: 768px) and (max-width: 1199px)" srcset="./images/dest/advice-1-md.jpg">
          
              <source type="image/webp" media="(max-width: 767px)" srcset="./images/dest/advice-1.webp">
              <img class="cover-img__image" media="(max-width: 767px)" src="./images/dest/advice-1.jpg">
            </picture>

            <div class="advice__text">
              <h3 class="advice__title">Do you know how to level a cake?</h3>
              <div class="advice__desccr">
                <p>After years of cake successes and flops, I’m confident in this homemade vanilla cake. During my recipe testing, I 
                  combined my white cake recipe and naked cake recipe. These are two reader favorites and I knew they’d be the best starting point. </p>
              </div>
            </div>
          </div>

          <div class="advice__item">
            <picture class="advice__img cover-img">
              <source type="image/webp" media="(min-width: 1200px) and (max-width: 1920px)" srcset="./images/dest/advice-2-lg.webp">
              <source media="(min-width: 1200px) and (max-width: 192px)" srcset="./images/dest/advice-2-lg.png">
          
              <source type="image/webp" media="(min-width: 768px) and (max-width: 1199px)" srcset="./images/dest/advice-2-md.webp">
              <source media="(min-width: 768px) and (max-width: 1199px)" srcset="./images/dest/advice-2-md.jpg">
          
              <source type="image/webp" media="(max-width: 767px)" srcset="./images/dest/advice-2.webp">
              <img class="cover-img__image" media="(max-width: 767px)" src="./images/dest/advice-2.jpg">
            </picture>

            <div class="advice__text">
              <h3 class="advice__title">Vanilla Cake Success Tips</h3>
              <div class="advice__desccr">
                <p>I always eyeball the amount of frosting between cake layers, but I measured when I decorated the pictured cake. 
                  The vanilla buttercream recipe below yields about 6 cups of frosting. I recommend you use about 1.5 heaping cups 
                  of buttercream between each cake layer and reserve the last 3 cups for outside the cake.</p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </section>
    <!-- ADVICE END -->

  </div>

  <script src="js/app.min.js"></script>
</body>
</html>
