.advice
  padding: 40px 0
  &-item
    margin-bottom: 40px
  &-img
    display: block
    width: 100%
    &::before
      padding-top: 69.82%
  &-title
    margin: 20px 0 15px
    +font-size(22)
    +line-height(34)
    font-weight: bold
    color: map-get($text-colors, black)
    letter-spacing: -.5px


@media screen and (min-width: 768px)
  .advice
    padding: 40px 0
    &-item      
      display: flex
      align-items: center
      margin-bottom: 30px
    &-img
      flex: 0 0 48.5%
      &::before
        padding-top: 101.74%
    &-text
      flex: 0 0 51.5%
      padding: 0 0 0 50px
    &-title
        margin: 15px 0 30px

@media screen and (min-width: 1200px)
  .advice
    padding: 70px 0
    &-item
      margin-bottom: 50px
    &-img
      flex: 0 0 59.15%
      &::before
        padding-top: 55.82%
    &-text
      flex: 0 0 40.85%
      padding: 0 0 0 73px
    
  .advice
    &-item
      &:nth-child(even)
        flex-direction: row-reverse
        .advice-text
          padding: 0 73px 0 0