.hero
  position: relative
  display: flex
  align-items: center
  padding: 50px 0
  background-color: map-get($bg-colors, blue)
  &-img
    position: absolute
    top: 0
    height: 100%
    left: 84%
    width: 16%
  &-left
    margin-bottom: 40px
  &-left-inner
    max-width: 300px
  &-subtitle
    margin: 0
    +font-size(14)
    +line-height(20)
    font-weight: bold
    color: map-get($text-colors, grey)
    letter-spacing: 1.1px
  &-title
    margin: 6px 0 28px
  &-form
    padding: 40px 22px 34px 22px
    background-color: rgba(28,28,28,.9)
    border-radius: 10px

@media screen and (min-width: 768px)
  .hero
    min-height: 770px
    &-img
      left: 73%
      width: 27%      
    &-inner
      display: flex
      align-items: center
    &-left,
    &-center
      flex: 0 0 50%
    &-left
      margin-bottom: 
      padding-right: 5px
      padding-top: 15px
    &-form
      padding: 40px 22px 34px 22px

@media screen and (min-width: 1200px)
  .hero
    &-img
      left: 50%
      width: 50%
    &-left,
    &-center
      flex: 0 0 33.33%
    &-form       
      padding: 78px 56px 70px 56px
